# Getting Started with Importing numpy and creating arrays

In [13]:
import numpy as np

my_numpy_array = np.random.rand(3)

Importing Pandas and creating a series with one column

In [14]:
import pandas as pd

my_first_series = pd.Series(my_numpy_array)
my_first_series

0    0.470463
1    0.007338
2    0.015005
dtype: float64

Using Pandas to create a Dataframe

In [15]:
my_first_df = pd.DataFrame(np.random.rand(3, 2))
my_first_df

          0         1
0  0.231764  0.615111
1  0.455549  0.239923
2  0.999615  0.214701

Compare all 3. my_numpy_array, my_first_series, and my_first_df

Create a 2d array and access the first row, second column

In [20]:
my_numpy_array_2d = np.random.rand(3,2)
my_numpy_array_2d[0, 1]

0.884041401209874

Using Pandas to index DataFrames and setting Column labels.

In [22]:
df = pd.DataFrame(my_numpy_array_2d)
df.columns = ["First", "Second"]
df

      First    Second
0  0.677262  0.884041
1  0.815028  0.808280
2  0.165431  0.681848

# Exploring Pandas Data Input Capabilities

Pandas supports Text Files, Binary, and relational databases

## Tate Collection Demo 1

In [ ]:
import pandas as pd
import os 

# Where our data lives
CSV_PATH = os.path.join('..', 'Files', 'artwork_data.csv')

# Just read 5 rows to see what is there
df = pd.read_csv(CSV_PATH, nrows=5)

# Specify an Index
df = pd.read_csv(CSV_PATH, nrows=5, index_col='id')

# Limit columns
df = pd.read_csv(CSV_PATH, nrows=5, index_col='id',
    usecols=['id', 'artist'])

# All columns that we need
COL_TO_USE = ['id', 'artist', 'title', 'medium', 'year', 
    'acquisitionYear', 'height', 'width', 'units']

# Proper data loading
df = pd.read_csv(CSV_PATH, nrows=20, usecols=COL_TO_USE, index_col='id')

# Save for later
df.to_pickle(os.path.join('..', 'data_frame.pickle'))

df

## Tate Collection Demo 2